@mixin LoginBtn {
  width: 100%;
  height: 48px;
  text-align: center;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: 16px center;
}
.modalWrap {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #00000066;
  .closeBtn {
    position: absolute;
    top: 20px;
    left: calc(100% - 20px);
    transform: translate(-100%);
    width: 32px;
    height: 32px;
    background-image: url('/images/login/icon-close-white.png');
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 6px;
    &:hover {
      background-color: rgba(228, 233, 236, 0.4);
    }
  }
  .loginContainer {
    background-color: white;

    .loginText {
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;
      margin-bottom: 135px;
      p {
        &:first-child {
          font-size: 36px;
          font-weight: 700;
          line-height: 43px;
          text-align: center;
        }
        &:nth-child(2) {
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: center;
          color: #474f54;
        }
      }
    }
    .loginForm {
      display: flex;
      flex-direction: column;
      gap: 24px;
      .kakaoBtn {
        @include LoginBtn;
        background-color: #fee500;
        color: black;
        background-image: url('/images/login/logo-kakao.png');
      }
      .naverBtn {
        @include LoginBtn;
        background-color: #03c75a;
        color: white;
        background-image: url('/images/login/logo-naver.png');
      }
      .googleBtn {
        @include LoginBtn;
        background-color: white;
        color: black;
        border: 1px solid #b9bcc1;
        background-image: url('/images/login/logo-google.png');
      }
    }
  }
}

@media (max-width: 545px) {
  .loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 150px 20px 72px 20px;
  }
}
@media (min-width: 546px) and (max-width: 1920px) {
  .loginContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 64px 40px;
    width: 474px;
    height: 562px;
    border-radius: 24px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  }
}
@media (pointer: coarse) and (orientation: portrait) {
  .loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 150px 20px 72px 20px;
    border-radius: 0px;
    .kakaoBtn,
    .googleBtn,
    .naverBtn {
      margin: auto;
      width: 402px !important;
    }
  }
}
@media (pointer: coarse) and (orientation: landscape) {
  .modalWrap {
    background-color: white;
  }
  .loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 150px 40px;
    box-shadow: none;
    .kakaoBtn,
    .googleBtn,
    .naverBtn {
      margin: auto;
      width: 402px !important;
    }
  }
}
