:root {
  --color-primary: #05d665;
  --color-alert: #f84a4a;
  --color-decrease: #0a6cff;

  --gray_0: #ffffff;
  --gray_5: #f7f8fa;
  --gray_10: #eff0f1;
  --gray_20: #d8dadc;
  --gray_30: #b9bcc1;
  --gray_40: #999da4;
  --gray_50: #7a8088;
  --gray_60: #5d646e;
  --gray_70: #4f555e;
  --gray_80: #42474e;
  --gray_90: #35393f;
  --gray_100: #2a2d31;

  --green_10: #e6fbf0;
  --green_20: #c3f5da;
  --green_30: #94edbd;
  --green_40: #62e59e;
  --green_50: #32dd81;
  --green_60: #05d665;
  --green_70: #04b656;
  --green_80: #049848;
  --green_90: #037a3a;
  --green_100: #02602d;

  --font-family: sans-serif;

  --dark-blue: #0a1930;
  --light-blue: #1f93ff;

  --light-gray: #e7e7e7;
  --dark-gray: #767676;
  --border-gray: #cccccc;
  --table-border-gray: #eee;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 12px;
}

body {
  font-family: var(--font-family);
}

a {
  color: inherit;
  text-decoration: none;
}
