:root {
--radii-none: 0;
--radii-sm: 0.125rem;
--radii-base: 0.25rem;
--radii-md: 0.375rem;
--radii-lg: 0.5rem;
--radii-xl: 0.75rem;
--radii-2xl: 1rem;
--radii-3xl: 1.5rem;
--radii-full: 9999px;
--shadows-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
--shadows-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
--shadows-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
--shadows-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
--shadows-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
--shadows-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
--shadows-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
--shadows-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
--shadows-outline: 0 0 0 3px rgba(66, 153, 225, 0.5);
--shadows-none: none;
--shadows-dark-lg: 0  15px 40px 0 rgba(0, 0, 0, 0.40), 0 5px 10px 0px rgba(0, 0, 0, 0.2), 0 0 1px 0 rgba(0, 0, 0, 0.1);
--spacing-0: 0;
--spacing-1: 0.25rem;
--spacing-2: 0.5rem;
--spacing-3: 0.75rem;
--spacing-4: 1rem;
--spacing-5: 1.25rem;
--spacing-6: 1.5rem;
--spacing-8: 2rem;
--spacing-10: 2.5rem;
--spacing-12: 3rem;
--spacing-16: 4rem;
--spacing-20: 5rem;
--spacing-24: 6rem;
--spacing-32: 8rem;
--spacing-40: 10rem;
--spacing-48: 12rem;
--spacing-56: 14rem;
--spacing-64: 16rem;
--spacing-72: 18rem;
--spacing-80: 20rem;
--spacing-96: 24rem;
}
:root .theme-dark {
--color-alert: #F84A4A;
--color-decrease: #0A6CFF;
--gray-0: #2A2D31;
--gray-5: #35393F;
--gray-10: #42474E;
--gray-20: #4F555E;
--gray-30: #5D646E;
--gray-40: #7A8088;
--gray-50: #999DA4;
--gray-60: #B9BCC1;
--gray-70: #D8DADC;
--gray-80: #EFF0F1;
--gray-90: #F7F8FA;
--gray-100: #FFFFFF;
--green-10: #02602d;
--green-20: #037a3a;
--green-30: #049848;
--green-40: #04b656;
--green-50: #05d665;
--green-60: #32dd81;
--green-70: #62e59e;
--green-80: #94edbd;
--green-90: #c3f5da;
--green-100: #e6fbf0;
}
:root {
--color-alert: #F84A4A;
--color-decrease: #0A6CFF;
--gray-0: #FFFFFF;
--gray-5: #F7F8FA;
--gray-10: #EFF0F1;
--gray-20: #D8DADC;
--gray-30: #B9BCC1;
--gray-40: #999DA4;
--gray-50: #7A8088;
--gray-60: #5D646E;
--gray-70: #4F555E;
--gray-80: #42474E;
--gray-90: #35393F;
--gray-100: #2A2D31;
--green-10: #e6fbf0;
--green-20: #c3f5da;
--green-30: #94edbd;
--green-40: #62e59e;
--green-50: #32dd81;
--green-60: #05d665;
--green-70: #04b656;
--green-80: #049848;
--green-90: #037a3a;
--green-100: #02602d;
}
:root {
--font-size-11: 0.6875rem;
--font-size-12: 0.75rem;
--font-size-14: 0.875rem;
--font-size-16: 1rem;
--font-size-18: 1.125rem;
--font-size-20: 1.25rem;
--font-size-24: 1.5rem;
--font-size-30: 1.875rem;
--font-size-36: 2.25rem;
--font-size-48: 3rem;
--font-size-60: 3.75rem;
--font-size-64: 4rem;
--font-size-72: 4.5rem;
--font-weight-100: 100;
--font-weight-200: 200;
--font-weight-300: 300;
--font-weight-400: 400;
--font-weight-500: 500;
--font-weight-600: 600;
--font-weight-700: 700;
--font-weight-800: 800;
--font-weight-900: 900;
--line-height-100: 100%;
--line-height-110: 110%;
--line-height-120: 120%;
--line-height-133: 133%;
--line-height-150: 150%;
}
.heading4xl {
font-size: 3.75rem;
font-weight: 700;
line-height: 100%;
}
.heading3xl {
font-size: 3rem;
font-weight: 700;
line-height: 100%;
}
.heading2xl {
font-size: 2.25rem;
font-weight: 700;
line-height: 120%;
}
.headingxl {
font-size: 1.875rem;
font-weight: 700;
line-height: 133%;
}
.headinglg {
font-size: 1.5rem;
font-weight: 700;
line-height: 133%;
}
.headingmd {
font-size: 1.25rem;
font-weight: 700;
line-height: 120%;
}
.headingsm {
font-size: 1rem;
font-weight: 700;
line-height: 120%;
}
.headingxs {
font-size: 0.875rem;
font-weight: 700;
line-height: 120%;
}
.text6xl {
font-size: 3.75rem;
font-weight: 400;
line-height: 150%;
}
.text5xl {
font-size: 3rem;
font-weight: 400;
line-height: 150%;
}
.text4xl {
font-size: 2.25rem;
font-weight: 400;
line-height: 150%;
}
.text3xl {
font-size: 1.875rem;
font-weight: 400;
line-height: 150%;
}
.text2xl {
font-size: 1.5rem;
font-weight: 400;
line-height: 150%;
}
.textxl {
font-size: 1.25rem;
font-weight: 400;
line-height: 150%;
}
.textlg {
font-size: 1.125rem;
font-weight: 400;
line-height: 150%;
}
.textmd {
font-size: 1rem;
font-weight: 400;
line-height: 150%;
}
.textsm {
font-size: 0.875rem;
font-weight: 400;
line-height: 150%;
}
.textxs {
font-size: 0.75rem;
font-weight: 400;
line-height: 150%;
}