* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
button,
select,
textarea,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: sans-serif;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*global styles*/
input,
button,
select,
textarea {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}
button {
  cursor: pointer;
}

/*폰트*/
/* 폰트 */
/*$font_black: 900;
$font_bold: 700;
$font_medium: 500;
$font_regular: 400;
$font_light: 300;
@font-face {
  font-family: NotoSansCJKkr;
  font-weight: $font_light;
  src:
    url('/font/NotoSansCJKkr-Light.woff2') format('woff2'),
    url('/font/NotoSansCJKkr-Light.woff') format('woff'),
    url('/font/NotoSansCJKkr-Light.otf') format('opentype');
}

@font-face {
  font-family: NotoSansCJKkr;
  font-weight: $font_regular;
  src:
    url('/font/NotoSansCJKkr-Regular.woff2') format('woff2'),
    url('/font/NotoSansCJKkr-Regular.woff') format('woff'),
    url('/font/NotoSansCJKkr-Regular.otf') format('opentype');
}

@font-face {
  font-family: NotoSansCJKkr;
  font-weight: $font_medium;
  src:
    url('/font/NotoSansCJKkr-Medium.woff2') format('woff2'),
    url('/font/NotoSansCJKkr-Medium.woff') format('woff'),
    url('/font/NotoSansCJKkr-Medium.otf') format('opentype');
}

@font-face {
  font-family: NotoSansCJKkr;
  font-weight: $font_bold;
  src:
    url('/font/NotoSansCJKkr-Bold.woff2') format('woff2'),
    url('/font/NotoSansCJKkr-Bold.woff') format('woff'),
    url('/font/NotoSansCJKkr-Bold.otf') format('opentype');
}

@font-face {
  font-family: NotoSansCJKkr;
  font-weight: $font_black;
  src:
    url('/font/NotoSansCJKkr-Black.woff2') format('woff2'),
    url('/font/NotoSansCJKkr-Black.woff') format('woff'),
    url('/font/NotoSansCJKkr-Black.otf') format('opentype');
}*/
